* {
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}

.wrapper {
  display: grid;
}

.hero-img {
  background: url(img/index-header.png);
  background-size: cover;
}

.hero-img h1 {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 5% 0;
  text-shadow: 4px 4px 4px black;
}

.nav-bar a {
  font-size: 1.5rem;
  background-color: #3260ab;
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 2px 1px;
  padding: 2%;
}

.nav-bar a:hover {
  color: #e6e6e6;
  background-color: #2f5aa1;
}

.nav-bar ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.main-info {
  text-align: justify;
  margin: 2% 15%;
  width: 70%;
}

.secondary-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.text {
  grid-column: 1;
}

.image {
  grid-column: 2;
}

.secondary-info img {
  width: 70%;
}

.secondary-info p {
  width: 70%;
  text-align: justify;
  margin-left: 30%;
}
